<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
	<script src="/static/utility.js"></script>
  </head>
  <body>
	<h1>IC100 LAB1</h1>	
	<form name="my_form" >
		“To be, or not to be: that is the question:<br>
Whether ‘tis nobler in the mind to suffer<br>
The slings and arrows of outrageous fortune,<br>
Or to take arms against a sea of troubles,<br>
And by opposing end them. To die: to sleep...”<br>
-Hamlet, Act III, Scene I<br><br>
		Enter your first name &nbsp;<input  type="text" name="name1"><br>
		Enter your last name &nbsp;<input  type="text" name="name2"><br><br>
                 Enter a &nbsp;<input  type="text" name="a"><br>
		Enter b &nbsp;<input  type="text" name="b"><br>
                 Enter c &nbsp;<input  type="text" name="c"><br> 
		<input type="button" class="btn btn-sm" onclick="submitData('/submitJSON')"
 value="Submit">	
	</form>	
	
	<div class="row">
    			<div class="col-md-8" align="left" style="float:left; margin-top: 0.45cm;" id="output_div">
    			</div>
    	</div>			
</body>
</html>
